*{
  box-sizing: border-box;
  margin:0;
  padding:0;
  font-family: 'Lato', sans-serif;
  }

html{
  scrollbar-width: 15px;
  scrollbar-color: #c2c2c2;
  scrollbar-track-color: #fafafa;
}
body{
  height: 100vh;
  background: linear-gradient(to bottom,
  #009688 0,
  #009688 15vh,
  #dcdbd2 15vh,
  #dcdbd2 100vh);
}

img{max-width: 100%;}

i:hover,a:hover,.app a:hover{color: #009688;}
i.t{font-size: 1.3rem;}
i.b{font-size: 1.5rem;}

.app a{
  text-decoration: none;
  color: black;
}

.circle-box{
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.circle-box > i{
  color: #8edafc;
  padding-left: 25%;
  padding-top: 30%;
}

.circle-box.image{object-fit: cover;}

div.h-scroll2{background-image: url("../assets/img/mine.jpg");}


/*layout*/


.o-s{overflow-y: scroll;}

.container{
  width: 80%;
  margin: 20px auto 0 auto;
  height: 95%;
}


.d-flex{display: flex;}
.d-none{display: none;}
.f-c{flex-direction: column;}
.j-r{justify-content: right;}
.j-c{justify-content: center;}
.j-s-b{justify-content: space-between;}
.a-i-c{align-items: center;}
.f-g{flex-grow: 1;}


/*positions*/


.p-r{position: relative;}

.p-a-1{
  position: absolute;
  top:25%;
  left:85%;
  font-size: 0.7rem;
}
.p-a-2{
  position: absolute;
  bottom: 4%;
  right: 2%;
  font-size: 0.6rem;
}
.p-a-3{
  position: absolute;
  top: 38px;
  right:18px;
  height: 60px;
  width: 150px;
  background-color: whitesmoke;
  list-style: none;
  font-size: small;
}

.app:hover .p-a-3{display: flex;}

.zInd{z-index: 99;}


/*sizes*/


.m-w-460{max-width: 460px;}
.m-w-435{max-width: 435px;}
.m-w-355{max-width: 355px;}

.w-380{width: 380px;}
.w-100{width: 100%;}
.w-90{width:90%}

.w-80{width:80px}

.h-scroll{height: calc(100% - 200px) ;}
.h-scroll2{height: calc(100% - 140px);}

.h-100{height: 100%;}
.h-80{height: 80px;}
.h-70{height:70px}
.h-50{height: 50px;}

.p-7{padding: 7px;}
.p-10-20{padding: 10px 20px;}
.p-l-93{padding-left: 93px;}
.p-l-43{padding-left: 43px;}
.p-l-28{padding-left: 28px;}
.p-l-25{padding-left: 25px;}
.p-l-20{padding-left: 20px;}
.p-l-16{padding-left: 16px;}
.p-l-15{padding-left: 15px;}

.p-r-93{padding-right: 93px;}
.p-r-43{padding-right: 43px;}
.p-r-30{padding-right: 30px;}
.p-r-28{padding-right:28px}
.p-r-25{padding-right: 25px;}
.p-r-20{padding-right: 20px;}
.p-r-15{padding-right: 15px;}
.p-r-5{padding-right: 5px;}

.p-t-50{padding-top: 50px;}
.p-t-30{padding-top: 30px;}
.p-t-19{padding-top: 19px;}
.p-t-10{padding-top: 10px;}

.p-b-40{padding-bottom: 40px;}
.p-b-10{padding-bottom: 10px;}

.m-l-30{margin-left: 30px;}

.m-r-27{margin-right: 27px;}
.m-r-30{margin-right:30px;}
.m-r-20{margin-right: 20px;}
.m-r-15{margin-right: 15px;}
.m-b-10{margin-bottom: 10px;}
.m-b-30{margin-bottom: 30px;}
.m-b-5{margin-bottom: 5px;}
.m-t-3{margin-top:3px ;}

.b-n{border: none;}

.b-r-5{border-radius: 5px;}
.b-r-10{border-radius:10px;}

.b-l{border:#f5f5f5 solid 1px;}
.b-l-t{border-top:#f5f5f5 solid 1px ;}
.b-l-r{border-right:#f5f5f5 solid 1px ;}
.b-l-b{border-bottom:#f5f5f5 solid 1px ;}
.b-l-l{border-left:#f5f5f5 solid 1px ;} 

.b-d-t{border-top: #d6d6d6 solid 1px ;}
.b-d-r{border-right: #d6d6d6 solid 1px ;}
.b-d-b{border-bottom: #d6d6d6 solid 1px ;}
.b-d-l{border-left: #d6d6d6 solid 1px ;}

.p1{font-size:0.9rem;}
.p2{font-size:0.8rem;}
.p3{font-size:0.7rem;}


/*colors*/


.grey-icons{color: #b1b1b1;}
.grey-not{color: #4f7485;}
.grey-search-icon{color: #b6b9bb;}
.grey-search-text{color: #d7d8da}
.grey-search-bg{background-color: #fafafa;}
.grey-board-{color: #f5f5f5;}
.grey-text-user{color: #b6b9bb}
.grey-scroll{color: #c2c2c2;}
.grey-top-bars{background-color: #eaeaea;}
.grey-back-text{color: #a3a3a3;}
.dark-grey{color:#6b7376}
.beige{background-color: #f3eeea;}
.light-blue{background-color: #8edafc;}
.sent{background-color: #d5f9ba;}
.received{background-color: white;}


/*media queries*/


@media screen and (max-width:992px){

  .container{
    width: 100%;
    height: 100%;
    margin: 0;
  }
  
  main > .col:first-child{width: 90px;}

  main > .col:first-child > .row:nth-child(2) ,  main > .col:first-child > .row:nth-child(3) , .disap {display: none;}

  

 .h-scroll{height: calc(100% - 70px) ;}

 .row.res-st{padding-left: 20px;}
 
 .row.res-nd{padding-left: 15px;}

 .row.h-scroll2{padding: 50px 43px 0 43px;}

 .div.m-w-435{max-width: 457px;}
}

@media screen and (max-width:542px){

  main > .col:first-child{display: none;}

  main > .col:last-child{width:100%}

  .row.h-scroll2{padding: 30px 25px 0 25px;}

  .div.m-w-435{max-width: 355px;}
}


/*Dark mode*/

@media (prefers-color-scheme: dark) {

  .dark {
    background-color: black;
    color: white;
  }

  .row.light-blue{background-color: darkslateblue;}

  .row.h-50{background-color: #6b7376;}

  .div.h-scroll2{filter: invert(100%);}

}
